<p id="notice"></p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
          <% (0...@movie.images.count).each do |image| %>
          <%= image_tag(@movie.thumbnail(image)) %>
        <% end %>
          <div class="table-responsive">
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
           <em> <%= "#{@reviews.length} reviews" %> </em>
            <table class="table">
              <tbody>
                <tr>
                  <td> <strong>Title:</strong> </td>
                  <td> <%= @movie.title %> </td>
                </tr>
                <tr>
                  <td> <strong>Description:</strong> </td>
                  <td> <%= @movie.description %> </td>
                </tr>
                <tr>
                  <td> <strong>Movie length:</strong> </td>
                  <td> <%= @movie.movie_length %> </td>
                </tr>
                <tr>
                  <td> <strong>Director:</strong> </td>
                  <td> <%= @movie.director %> </td>
                </tr>
                <tr>
                  <td> <strong>Rating:</strong> </td>
                  <td> <%= @movie.rating %> </td> 
                </tr>
              </tbody>
            </table>
            <%= link_to "Escribe un review", new_movie_review_path(@movie) %>
          </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"> <%= @movie.title%> </h1>
        <p> <%= @movie.description %> </p>
        
        <% if @reviews.blank?%>
          <h3> No hay reviews de esta pelicula todavia, sé el primero! </h3>
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
         <% @reviews.each do |review| %>
         <div class="reviews">
            <div class="star-rating" data-score= <%= review.rating %> ></div> 
            <p> <%= review.comment %></p>
         </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<td><%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', movies_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

